body {
    padding: 20px 300px 20px 300px;
    display: grid;
    grid-template-rows: 130px 1fr 100px;
    background-color: black;
}


li {
    list-style-type: none;
}

.nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    cursor: pointer;
}

.cart-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    cursor: pointer;
}

.cart-image {
    width: 50px;
    height: 50px;
}

#nav-img {
    width: 50px;
    height: 50px;
}

.nav {
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 100px;
}

nav {
    position: absolute;
    left: -100px;
    width: 100px;
    height: 100px;
    background: pink;
    transition: 2s;
}

.hidden {
    transition: 2s;
    left: 0;
}

.tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    margin-bottom: 70px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    display:initial;
    background-image: url("../home-wall.jpg");
    background-position: center;
    width: 100%;
}