body {
    display: grid;
    grid-template-rows: 5fr 1fr;
    background-color: black;
}


li {
    list-style-type: none;
}

.nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    cursor: pointer;
}

.cart-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    cursor: pointer;
}

.cart-image {
    width: 50px;
    height: 50px;
}

#nav-img {
    width: 50px;
    height: 50px;
}

.nav {
    position: absolute;
    overflow: hidden;
    width: 100px;
    height: 100%;
}

nav {
    position: relative;
    left: -100px;
    width: 100px;
    height: 100%;
    transition: 2s;
    overflow: visible;
    background-color: rgba(32, 32, 32, 0.534);
}

.hidden {
    transition: 2s;
    left: 0;
    display: block;
}

.tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    position: fixed;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 300px;
    padding-right: 300px;
    height: 65px;
    z-index: 3;
}

main {
    display: grid;
    grid-template-columns: 200px 1fr;
    background-image: url("../home-wall.jpg");
    background-position: center;
    width: 100%;
    padding-left: 300px;
    padding-top: 65px;
}

li {
    color: honeydew;
}

.list {
    height: 100%;
}