li {
    list-style-type: none;
}

img {
    width: 30px;
    height: 30px;
}

.list {    
    
    position: absolute;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    /* left: -200px; */
    background: pink;
    transition: 2s;
}

.list:hover {
    width: 200px;
    height: 200px;
    transition: 2s;
    left: 200px;
}

.hidden {
    display: none;
}